{% extends 'base.html.twig' %}

{% block body %}
    <div class="ville_container">
        {% if app.user and is_granted('ROLE_ADMIN') %}
            <form method="get" id="form_sites" data-ajax-list
                  data-target="#sites_list"
                  data-delay="200">
                <h2>Filtrer les sites</h2>
                <label class="ville_label site_label">
                    Le nom contient :
                    <input class="ville_input" type="text" name="query" data-autosubmit="350">
                </label>
            </form>
            <div class="table_area" id="sites_list">
                {% include 'site/_table.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}