{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="motDePasse_container form_container">
    <h1>Réinitialiser le mot de passe</h1>
        <div class="motDePasse_content">
            {{ form_start(requestForm) }}
            <div class="motDePasse_info">
                Veuillez renseigner votre adresse mail afin de réinitialiser votre mot de passe.
            </div>
            {{ form_row(requestForm.email) }}
            <button class="button button_primary">Réinitialiser le mot de passe</button>
                {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
