{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="main_container profile form_container">
        <h2>Importer des utilisateurs</h2>
    <div class="import_content">
        <h3>Sélectionner un fichier au format CSV.</h3>
        {{ form_start(form) }}
            {{ form_widget(form.csvFile) }}
            <div class="buttons"><button class="button button_primary">Importer</button></div>
        {{ form_end(form) }}
    </div>
    </div>

{% endblock %}
