{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="main_container profile">
        <h1>importer les utilisateurs avec un</h1>

        {{ form_start(form) }}
            {{ form_row(form.csvFile) }}
            <button>Import</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
