{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="main_container">

    <h1>Importer des utilisateurs</h1>
    <a href="{{ path('app_import_user') }}">import</a>
    <h1>Créer un utilisateur</h1>
    <a href="{{ path('app_create_user') }}">creer</a>
</div>
{% endblock %}
