{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="main_container profile form_container">
    <h1>Inscrire des utilisateurs</h1>
    <div class="registration_content">
            <a class="button button_secondary" href="{{ path('app_import_user') }}">Importer des utilisateurs à partir d'un fichier</a>
            <a class="button button_secondary" href="{{ path('app_create_user') }}">Créer un utilisateur manuellement</a>
    </div>
</div>
{% endblock %}
