<!DOCTYPE html>
<html class="bg-white">
<head>
    <meta charset="UTF-8" />
    <title>Sortir.com{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {{ importmap('app') }}
</head>
<body>
{% include "_partials/header.html.twig" %}
<main>{% block body %} {%endblock %}</main>
</body>
</html>
