<!DOCTYPE html>
<html class="bg-white" lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Sortir.com{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('logo.png') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    {{ importmap('app') }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% include "_partials/header.html.twig" with {'isMobile': isMobile|default(false)} %}
<main>
    {# Code permettant d'afficher les éventuels messages flash #}
    <div>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="mb-4 flex items-center justify-between rounded-lg border px-4 py-3
                       {% if label == 'success' %} bg-green-50 border-green-400 text-green-800
                       {% elseif label == 'error' %} bg-red-50 border-red-400 text-red-800
                       {% elseif label == 'warning' %} bg-yellow-50 border-yellow-400 text-yellow-800
                       {% else %} bg-blue-50 border-blue-400 text-blue-800
                       {% endif %}">
                    <span>{{ message }}</span>
                    <button @click="show = false" class="ml-4 text-xl leading-none focus:outline-none">
                        &times;
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const burger = document.getElementById('burger_button');
        const navList = document.getElementById('nav_list');

        burger.addEventListener('click', function () {
            navList.classList.toggle('open');
        });
    });
</script>

</html>
