<!DOCTYPE html>
<html class="bg-white">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
{% include "_partials/header.html.twig" %}
<main>{% block body %} {%endblock %}</main>
</body>
</html>
